@{
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
    ViewBag.Title = "Contact";
}
<br /><br /><br />

<div class="formulaire">
    @using (Html.BeginForm("SendMail", "Client", FormMethod.Post, new { id = "contact-form", enctype = "multipart/form-data" }))
    {

        <span for="nom">Votre nom</span><br />
        <input type="text" name="nom" placeholder="Prénom Nom" required="" class="form-control left-rounded right-rounded" /><br />

        <span for="email">Votre e-mail</span><br />
        <input type="email" name="email" placeholder="adresse@email" required="" class="form-control left-rounded right-rounded" /><br />

        <span for="message">Votre message</span><br />
        <textarea name="message" required="" class="form-control left-rounded right-rounded"></textarea><br />

        <input type="submit" value="ENVOYER" class="btn btn-success boutonPayer" />

    }

</div>

<br /><br /><br />

<div class="formulaire">
    <address class="AffichageAdresse">
        <strong>GT'M Shop </strong><br />
        13, avenue de la gare<br />
        78180 Montigny le Bretonneux<br />
    </address><br />

    <a href="https://goo.gl/maps/pBAE6bsKrS92" target="_blank" title="Google Maps">
        <img id="Img_carte" src="~/Content/images/Carte.png" alt="Carte" />
    </a><br /><br />

    <address class="AffichageAdresse">
        <strong>Support:</strong>   <a href="mailto:fabien.gaudron@gmail.com">Contact@gtmshop.fr</a><br />
        <strong>Marketing:</strong> <a href="mailto:fabien.gaudron@gmail.com">Marketing@gtmshop.fr</a>
    </address><br /><br />
</div>