
@{
    ViewBag.Title = "Paiement";
}
<br /><br />



<div class="formulaire">

    <img src="~/Content/images/"   class="Img_produit" />

    <h3>Felicitations votre commande a bien été validée !!!</h3>

</div>

