@{
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
    ViewBag.Title = "Paiement";
}
<br /><br /><br />

<div class="AffichageAdresse">
    <h3>Le paiement</h3>
    <br />
    <h4>Un large choix de modes de paiement <strong>sécurisés</strong> vous est offert.</h4>
    <br />

    <p>
        <strong>carte en ligne :</strong> <img style="vertical-align:middle" ; src="~/Content/images/paiementcb-logo.jpg" />
        <br />
        <em>Vous saisissez le numéro de votre carte bancaire ainsi que le cryptogramme visuel</em>
    </p>
    <br />

    <p>
        <strong>Par PayPal : </strong> <img style="vertical-align:middle" ; src="~/Content/images/paypal-logo.jpg" />
        <br />
        <em>Vous saisissez votre identifiant PayPal et votre mot de passe après avoir choisi de "Réglez avec PayPal" et validez votre paiement.</em>
    </p>
    <br />

    <p>
        <strong>Par virement :</strong> <img style="vertical-align:middle" ; src="~/Content/images/virement_bancaire.jpg" height="45px" />
        <br />
        <em>Vous remplirez le formulaire qui suivra votre commande</em>
    </p>
    <br />

    <p>
        <strong>Par facture :</strong> <img style="vertical-align:middle" ; src="~/Content/images/paiement_facture.jpg" height="50px" />
        <br />
        <em>A régler sous 30 jours à compter de la date d'émission de la facture</em>
    </p>
    <br />
</div>