
@{
    ViewBag.Title = "SuppressionDemandee";
}

<h2>Votre demande a bien été prise en compte</h2>

<span>@Html.ActionLink("Retour à la page d'accueil", "Index", "Home","", new { @class = "btn btn-default" })</span>