
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "CompteInactif";
}

<br /><br /><br />

<div class="formulaire">

    <h2>Compte Inactif</h2>

    <span>Votre compte a été désactivé, Veuillez contacter l'administrateur du site pour le réactiver</span><br />

    <span class="bouton">@Html.ActionLink("Contact", "Contact", "Home", new { @class = "btn btn-success" })</span>

</div>