
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "CompteInactif";
}

<h2>Compte Inactif !!!</h2>

<h4>Votre compte a été désactivé, Veuillez contacter l'administrateur du site pour le réactiver</h4>

