@{
    ViewBag.Title = "Livraison";
}

<br /><br /><br />

<div class="AffichageAdresse">
    <h4>LIVRAISON OFFERTE</h4>
    <br />
    <br />

    <strong>Envie de recevoir votre colis directement à la maison ou sur votre lieu de travail :</strong>
    <P>
        Aucun soucis, nos livreurs se déplacent jusqu'à l'adresse de livraison choisi pour apporter, installer et mettre en service votre nouvelle acquisition. Et oui,
        pas question de laisser votre colis sur le trottoir, ni de vous faire payer un supplément pour le monter dans votre appartement
    </P>
</div>