@{
    ViewBag.Title = "SAV";
}
<br /><br /><br />
<div class="AffichageAdresse">
    <h4>Service Après-Vente</h4>
    <br /><br />
    <h4><strong>Notre objectif : 100% de clients satisfaits</strong></h4>
    <h5>Tous nos produits sont garantis 1 an</h5>
    <p>Notre assistances téléphoniques est à votre service 7 jours sur 7. </p>
    <em>Numéro de téléphone : 01 61 08 48 20</em>
</div>